:host {
  .wrapper-use-subject {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: -0.025em;
      line-height: 1;
      margin-top: 2rem;
    }
  }
}