<div class="interaction-transfer-section-a-container">
  <form action="" [formGroup]="formGroupData">
    <div class="module-input">
      <label
        class="label"
        for="address">Address:</label>
      <input
        type="text"
        class="input"
        id="address"
        formControlName="address" />
    </div>
    <div class="module-input">
      <label for="mainContact" class="label">Primary contact:</label>
      <div class="input-container">
        <label for="mainContact">
          <input type="checkbox" id="mainContact" formControlName="mainContact" />Set as primary contact person
        </label>
      </div>
    </div>
  </form>
</div>